# Ignore node_modules (except in builder stage)
node_modules

# Ignore logs
npm-debug.log
yarn-error.log

# Ignore build files
.next
out
build

# Ignore local environment variables
.env
.env.local
.env.development
.env.test

# Ignore cache files
.cache
.DS_Store

# Ignore Docker-related files
Dockerfile
.dockerignore